
:root {
	--page-bg:#111; 	 --panel-bg:#555;
	--table-color:#111; --table-bg:#666;    --table-hover-bg:#333;
	--even-bg: #8b91ad;  --odd-bg: #ad8b8b;
	--cq-bg:#81a383;     --cq-bg-hl:#93bf95;
	--to-me-bg:#bf3939;  --to-me-bg-hl:#ff4d4d;
	--by-me-bg:#bfbf3d;  --by-me-bg-hl:#f7f74d;
}	
body { font-family: sans-serif; background:var(--page-bg); color:#ddf; margin:1em; }

#App {display:inline-block;  align-content: start; width:fit-content; background:var(--panel-bg); padding:1em; height:90vh;}
#logo {display: block; font-size: 2em; font-weight: bold; color:#fff;}
#banner {display: block; font-size: 1.17em; font-weight: bold; color:#ddf;}
.grid_title {display: block; font-size: 1.17em; font-weight: bold; color:#fff; margin-left:0.5em;}

#SpectrumContainer {display: flex; position: relative; justify-content: center;  width: calc(2 * 26em + 2 * 2em + 7em); 
					height: 40px; margin: 1em 0em 1em 0em; border: 1px solid white }
#Spectrum {display: flex; position: absolute; margin-top:15px; height: 10px; width: fit-content; border: 1px solid white;  background: #222;}
#Spectrum > div {display:inline-block; width:2px; height:10px;}
.marker {position: absolute; width: 1px; height: 0.7em; padding-left:3px; color: white; font-size: 0.7em; }
.txMarker { border-left: 2px solid red; bottom:30px;}
.rxMarker { border-left: 2px solid lime; bottom:3px;}
.tickMarker { border-left: 1px solid white; bottom:17px; }
						
#DecodePanelsContainer 
		{display:grid; grid-template-columns: repeat(3, max-content); 
		background:var(--panel-bg); width:max-content;}	

.decodes_grid {display:grid; grid-template-columns: repeat( 7, max-content) auto; grid-auto-rows: min-content; 
			   background:var(--table-bg); color:#8cf; margin:0.5em; height:25em; min-width:35em; 
			   align-content: start; overflow-y:scroll;}	
			   
.list_grid {display:grid; grid-template-columns: 1fr; grid-auto-rows: min-content; 
			   background:var(--table-bg); color:#8cf; margin:0.5em; height:25em; min-width:13em; 
			   align-content: start; overflow-y:scroll;}

.grid_row {display:contents;}
.grid_row.odd > div {background-color: var(--odd-bg);}
.grid_row.even > div{ background-color: var(--even-bg);}	
.grid_row:hover > div {background-color: var(--table-hover-bg);}

/* disappearing highlights for Tx and Rx with myCall */
.grid_row.sentTomyCall > div {background-color: var(--to-me-bg);}
.grid_row.sentTomyCall.highlight > div {background-color: var(--to-me-bg-hl);}
.grid_row.sentBymyCall > div {background-color: var(--by-me-bg);}	
.grid_row.sentBymyCall.highlight > div {background-color: var(--by-me-bg-hl);}	

/* disappearing highlights for CQ rows */
.grid_row.cq > div {background-color: var(--cq-bg-hl);}
.grid_row.cq_faded > div {background-color: var(--cq-bg); transition: 1s linear all;}
/* disappearing highlights for buttons - sharing the same colour variables as CQ */
.cq {background-color: var(--cq-bg-hl);}
.cq_faded {background-color: var(--cq-bg); transition: 1s linear all;}

/* top rows - headings */
.grid_row.header {display: contents;position: sticky;top: 0;z-index: 20;}
.grid_row.header > .grid_cell {background: var(--table-bg);position: sticky;top: 0;z-index: 21; color:#ddf; border-right:1px lime dashed;}
.grid_cell {padding:1px 5px 1px 5px; font-weight:600; color:var(--table-color);}
.grid_cell.hearing_me {color:'green';text-align:center;}
.grid_row.flash > div { animation: flash-bg 1.4s ease-in-out infinite;;}

@keyframes flash-bg {
    0%   { background-color: var(--by-me-bg-hl); }
    50%  { background-color: var(--panel-bg); }
    100% { background-color: var(--by-me-bg-hl); }
}

#pipeline {display: flex;align-items: flex-end;gap: 10px;height: 120px;padding: 10px;}
.bar-container {display: flex;flex-direction: column;align-items: center;}
.bar-bg {width: 20px;height: 100px;background: linear-gradient(to bottom, red, yellow, green);}
.bar {width: 20px;height: 100px;background: gray;transform-origin: top;transform: scaleY(0.1);transition: transform 1s cubic-bezier(0.2, 0, 0.5, 1);}
.label {margin-top: 5px;font-size: 0.7em;}

		